Import libraries

In [81]:
import pandas as pd
import numpy as np

Data loading for disease variant genes

In [82]:
df_dvg = pd.read_csv('disease_variant_gene.csv')

Beginning of cleaning of the disease variant gene data.

Removing useless columns

In [83]:
df_dvg.drop(columns=['source', 'pub_date', 'pub_journal', 'pub_author', 'pub_title'], inplace=True)

Removing columns with less than 8000 values

In [84]:
nan_counts = df_dvg.isna().sum()

# Get the column names with more than 10,000 NaN values
columns_to_drop = nan_counts[nan_counts > 8000].index

# Drop the columns with more than 10,000 NaN values
df_dvg = df_dvg.drop(columns=columns_to_drop)

End of cleaning Disease variant gene data.

load of the variant database

In [85]:
df_vd = pd.read_csv('variant_database.csv')

first: check the Nan

As we see, 2 columns are totally empty. Lets remove them.

In [86]:
df_vd.drop(columns = ['log10_ABF', 'posterior_prob'])

,study_id,lead_chrom,lead_pos,lead_ref,lead_alt,direction,beta,beta_ci_lower,beta_ci_upper,odds_ratio,...,tag_pos,tag_ref,tag_alt,overall_r2,pics_95perc_credset,AFR_1000G_prop,AMR_1000G_prop,EAS_1000G_prop,EUR_1000G_prop,SAS_1000G_prop
0,GCST000035,16,52552429,A,G,-,NaN,NaN,NaN,0.833333,...,52565276,C,T,0.674548,False,0.000000,0.000000,0.138488,0.861512,0.0
1,GCST000035,5,56736057,C,A,-,NaN,NaN,NaN,0.884956,...,56829526,A,G,0.526719,False,0.000000,0.000000,0.138488,0.861512,0.0
2,GCST000035,5,56736057,C,A,-,NaN,NaN,NaN,0.884956,...,56902323,A,C,0.513007,False,0.000000,0.000000,0.138488,0.861512,0.0
3,GCST000037,16,52552429,A,G,-,NaN,NaN,NaN,0.781250,...,52550383,T,G,0.999450,True,0.265487,0.256332,0.343607,0.134574,0.0
4,GCST000051,4,110789013,C,T,+,NaN,NaN,NaN,1.720000,...,110761847,T,C,0.966859,True,0.000000,0.000000,0.121861,0.878139,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GCST002606,2,10570604,C,T,-,NaN,NaN,NaN,0.943396,...,10586737,T,C,0.531580,False,0.063942,0.025425,0.085004,0.825628,0.0
996,GCST002606,16,71657426,G,A,+,NaN,NaN,NaN,1.060000,...,71669826,A,G,0.982448,True,0.063942,0.025425,0.085004,0.825628,0.0
997,GCST002606,6,75786165,A,G,+,NaN,NaN,NaN,1.080000,...,75746630,T,C,0.831166,True,0.063942,0.025425,0.085004,0.825628,0.0
998,GCST002606,6,75786165,A,G,+,NaN,NaN,NaN,1.080000,...,75739015,T,C,0.803203,True,0.063942,0.025425,0.085004,0.825628,0.0
999,GCST002606,6,75786165,A,G,+,NaN,NaN,NaN,1.080000,...,75723976,C,T,0.619734,False,0.063942,0.025425,0.085004,0.825628,0.0

We just want to keep the

In [87]:
#extract all the lines where the tag_chrom is X
df_vd_x = df_vd[df_vd['tag_chrom'] == 'X']

load of the gene data

In [88]:
df_gene = pd.read_csv('gene.csv')

as usual, check the Nan is the columns

lets select chromosome X

In [89]:
#extract all the lines where the chrom is X
df_gene_x = df_gene[df_gene['chr'] == 'X']

load locus2gene data

In [90]:
df_l2g = pd.read_csv('locus2gene.csv')

/tmp/ipykernel_62746/1232562908.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_l2g = pd.read_csv('locus2gene.csv')

select chromosome X

In [91]:
#extract all the lines where the chrom is X
df_l2g_x = df_l2g[df_l2g['chrom'] == 'X']

load sa_gwas data

In [92]:
df_gwas = pd.read_csv('sa_gwas.csv')

load sa molecular trait data

In [93]:
df_smt = pd.read_csv('sa_molecular_trait.csv')

load studies overlap

In [94]:
df_so= pd.read_csv('studies_overlap.csv')

In [95]:
#select all  the rows of df_so where A_chrom  is X
df_so_x = df_so[df_so['A_chrom'] == 'X']

load studie

In [96]:
df_studies = pd.read_csv('studies.csv')

/tmp/ipykernel_62746/1031896629.py:1: DtypeWarning: Columns (2,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_studies = pd.read_csv('studies.csv')

load variant disease credset

In [97]:
df_vdc = pd.read_csv('variant_disease_credset.csv')

In [98]:
nan_counts = df_vdc.isna().sum()

# Get the column names with more than 4871 NaN values
columns_to_drop = nan_counts[nan_counts > 4870].index

# Drop the columns with more than 10,000 NaN values
df_vdc = df_vdc.drop(columns=columns_to_drop)

In [99]:
df_vdi = pd.read_csv('variant_disease.csv')

In [100]:
df_vdi.drop(columns= "log10_ABF", inplace=True)

In [101]:
df_vg = pd.read_csv('variant_gene.csv')

In [102]:
df_vg.drop(columns= ["qtl_beta", "qtl_se", "qtl_pval", "qtl_score", "qtl_score_q"], inplace=True)

In [103]:
df_variants = pd.read_csv('variants.csv')

In [114]:
dataframes = [df_variants, df_dvg, df_gene, df_gwas, df_l2g,df_smt,df_so, df_studies, df_vd, df_vdc, df_vdi, df_vg ]

column_dict = {}

# Iterate over each data frame and identify identical column names
for i, df in enumerate(dataframes):
    for column in df.columns:
        if column in column_dict:
            column_dict[column].append(i)
        else:
            column_dict[column] = [i]

# Create a data frame to store columns that are in more than one data frame
common_columns = []
data_frame_names = []
for column, dataframes in column_dict.items():
    if len(dataframes) > 1:
        common_columns.append(column)
        data_frame_names.append(dataframes)

df_common_columns = pd.DataFrame({'Column Name': common_columns, 'Data Frames': data_frame_names})

In [122]:
print(df_common_columns)

            Column Name                Data Frames
0                chr_id                    [0, 11]
1              position                    [0, 11]
2            ref_allele                    [0, 11]
3            alt_allele                    [0, 11]
4              study_id  [1, 3, 4, 5, 7, 8, 9, 10]
..                  ...                        ...
62            pub_title                 [7, 8, 10]
63               source                 [7, 8, 10]
64        beta_ci_lower                    [8, 10]
65        beta_ci_upper                    [8, 10]
66  pics_95perc_credset                    [8, 10]

[67 rows x 2 columns]

merge df_variant with df_vg

In [119]:
df_varia = df_variants.merge(right= df_vg, on = ['chr_id', 'position', 'ref_allele'])

In [124]:
print (df_variants.shape)
print(df_vg.shape)

(17028, 14)
(37495, 17)